@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

body {
    background-color: #41436a;
}

main {
    min-height: 68vh;
}

svg {
    fill: #fff;
}